[2019-11-02 16:22] nioc opened #1 "Add webRTC support (audio and video calls)"

[2019-11-02 16:25] nioc opened #2 "Add file upload (XEP-0363)"

[2019-11-04 01:04] #2 closed

[2019-11-07 17:47] nioc opened #3 "Handling offline status"

[2019-11-07 17:47] nioc opened #4 "Display read mark (XEP-0333)"

[2019-11-07 17:47] nioc opened #5 "Handling Omemo encryption"

[2019-11-07 18:02] #3 closed

[2020-01-07 23:54] poVoq opened #6 "Add support for low resolution screens and keypads (KaiOS)?"
Given the light weight nature of this, how about adding support for low resolution screens and keypads so that this could feasibly run on KaiOS (or the FOSS version GerdaOS)?

KaiOS is a modern fork of FirefoxOS that already runs on hundreds of millions smart feature phones in the developing world (in India it has already replaced iOS as the 2nd most common mobile operating system, and Facebook re

[2020-01-08 10:54] poVoq opened #7 "Option to configure WS/BOSH URL directly?"
Would be great if there was a way to configure the websocket or BOSH URL directly and not depend on the Apache2 proxy.

Both for running it on a shared server that doesn't allow modification of the Apache2 config and for use as a stand alone HTML5 app.

Thanks :)

Edit: or is it sufficient to modify the local.js?
Would be still nice to be able to configure it as a parameter.

[2020-01-08 14:01] nioc commented on #7
Hello.
I did not take the time to produce installation.md 🙁
But yes, you can edit the `local.js` file with your own endpoints :
[code]
However, you may experience CORS issues if XMPP listener and chat app are not on the same domain.

Keep me informed if it works as you expected 🙂

[2020-01-08 14:25] nioc commented on #6
Hello (again 🙂),
I used the [Bulma CSS framework](https://bulma.io/) (with Buefy for VueJS adaptation). May be some plugin/extension exists.

In your request, I see 2 points:
- adaptive for low resolution screen => this should be handled with some breakpoints in `/src/assets/styles.scss` or maybe Bulma extension.
- lack of touchscreen and keyboard navigation support => I have to check how app work

[2020-01-08 14:31] poVoq commented on #7
Yes, I tested it with a totally different domain and it seems to work fine. Thanks for the confirmation.

Would be still nice if there was a way to configure this in the login screen (advanced settings?) and if
https://xmpp.org/extensions/xep-0156.html was supported to auto-discover the WS/BOSH URL of your XMPP server.

[2020-01-08 14:36] poVoq opened #8 "Add customizable registration URL to login?"
Would be cool if there was an easy way for the server admin to add a link below the login to a website that allows registration (not as in-band).

I think in-band registration is more complicated and spam-prone, thus that would be probably of lower priority.

Thanks!

[2020-01-08 14:54] nioc commented on #7
I take a quick look, this XEP is not in Stanza [supported XEPs](https://github.com/legastero/stanza/blob/master/docs/Supported_XEP_Formats.md).
However if you need this, I can implement the HTTP lookup on `chat.domain-web.ltd/.well-known/host-meta.json` for override `config.transports` at bootstrap.

[2020-01-08 14:58] poVoq commented on #6
This might be a starting point for the breakpoint issue:
https://github.com/jgthms/bulma/issues/1677

[2020-01-08 15:01] poVoq commented on #7
That would still leave it to the server admin to configure the URL, no?

The main idea is that there would be a default WS/BOSH URL, but if people want to connect with another XMPP server they could configure (or XEP-156 does it automatically) it themselves before login.

[2020-01-08 15:45] nioc commented on #7
That is the purpose of auto-discovery as described in the XEP 😄
For your need, here is my proposal: adding a boolean for showing or not (default value) 2 new fields ("Transport method" bosh/ws and "transport url") on login component.
That's ok for you?

[2020-01-08 16:05] poVoq commented on #7
Yeah, that would certainly work. Thanks for considering it!

[2020-01-11 02:25] bremensaki commented on #8
Using the redirection option for IBR makes a smoother workflow, Conversations implements this well and pulls up the rego page in a web view when you attempt to register.

As a server level it's handled by eg. https://modules.prosody.im/mod_register_oob_url.html (I've never tried on ejabberd, I'd guess there's some equivalent) and provides a URL which can be pulled up as required by the client. If

[2020-01-11 02:34] bremensaki commented on #7
Even if not implemented in Stanza, it's just a DNS lookup and/or a HTTP request to a .well-known URL for the JID domain which can be pulled from Stanza. Would attempting to pull _xmppconnect.jid-domain.org and populating the bosh/ws values that way be a problem?

I'm just starting to look around the code here, and I'll take a shot at it unless you think there's some good reason that it wouldn't be

[2020-01-11 15:18] poVoq commented on #8
Hmm, I am not aware that this is possible with ejabberd. However, even if this is possible, it is slightly more complicated with a webclient as it first needs to connect to a BOSH server to even be able to do IBR. Thus unless the server and webclient also does XEP-0156, a simple customizable link is much easier and less fail prone (as only 50% of the xmpp servers do XEP-0156 according to the compl

[2020-01-11 18:32] nioc commented on #7
Hello, I just added the two functionalities:

- allow users to provide their own bosh/websocket URL (admin can disable this with `isTransportsUserAllowed` in local.js), impacting login GUI:
![XMPP web - issue 7](https://user-images.githubusercontent.com/5225411/72208902-e20eeb00-34a8-11ea-87d6-d19b8ad77f51.png)

- auto-discovery from [HTTP Lookup as XEP 0156](https://xmpp.org/extensions/xep-0156.h

[2020-01-11 18:35] #7 closed

[2020-01-11 18:40] nioc commented on #7
@bremensaki Thanks for proposition :smiley:
I prefer talking on the repo if someone wants to join us

[2020-01-12 10:51] poVoq commented on #7
Awesome, thanks a lot for adding this.

Is "xmpp-websocket" the default for Prosody?

In ejabberd the defaults are "/ws" and "/bosh" which are arguably the more common defaults with non-selfhosted servers.

[2020-01-12 11:04] bremensaki commented on #7
Yes, Prosody defaults are xmpp-websocket and http-bind for BOSH. It looks a bit clunky I agree, but it's easily changed and it's not usually something end users have to see and deal with anyway. I usually just reverse proxy everything from nginx anyway, and use /ws and /bosh there just because it's easier to type.

[2020-03-24 20:28] poVoq commented on #6
Someone is porting KaiOS GUI components to Vue:
https://github.com/LiarOnce/kaiui-vue

[2020-03-30 16:29] Neustradamus opened #9 "XEPs and RFCs support page with version"
It is possible to have a XEPs and RFCs support page with version (XEP-XXXX v1.2)?

Examples:
- https://github.com/UWPX/UWPX-Client/blob/master/README.md
- https://github.com/telldus/xmppjs-client-plugins/blob/master/README.md
- https://github.com/ortuman/jackal/blob/master/README.md
- https://profanity-im.github.io/xeps.html
- https://metronome.im/supported-xeps-list
- https://dev.gajim.org/gajim/

[2020-03-30 18:18] poVoq commented on #9
https://github.com/legastero/stanza/blob/master/docs/Supported_XEP_Formats.md

Not all of it is implemented in the frontend though.

[2020-03-31 07:40] nioc commented on #9
Hello @Neustradamus I'll add supported XEP/RFC list in the README.md.

[2020-07-27 15:11] ebizanil opened #13 "How can we use it in Nginx webserver"
When I am trying to access it Nginx web server, login is working fine but the contacts and chat options, profile those are not available. Please check it.

[2020-07-27 18:50] nioc commented on #13
At first sight, there is no link between web server exposing web app (static js/css files are loaded) and the behavior you described.
Can you give more information about your setup (which XMPP server, which transport,…) ?
Some console logs are welcomed.

[2020-07-27 19:02] ebizanil commented on #13
I have created two servers chatserver.domain.com for "XMPP" using https://www.linuxbabe.com/ubuntu/prosody-xmpp-server-ubuntu-18-04
Another chat.domain.com as you code.
When I am trying to log in, I am able to log in but there is online another user to chat

My log:
Jul 27 14:13:35 startup info    Prosody is using the select backend for connection handling
Jul 27 14:13:35 portmanager     info    A

[2020-07-27 19:15] nioc commented on #13
I'm not sure of understanding.
You installed prosody (I'm using this server too,good choice), set the host to chatserver.domain.com, create a user.
On a second host chat.domain.com you installed nginx and this web app.
Then you can go on chat.domain.com and login with your XMPP credentials.
Do you have any contacts to discuss with (you can create a dummy account on your own xmpp server and add it

[2020-07-28 04:21] ebizanil commented on #13
Here is my browser log:

module.js:13992 WebSocket connection to 'wss://chatserver.domain.com/xmpp-websocket' failed: Error during WebSocket handshake: Unexpected response code: 403
connect @ vuex.esm.js:6
(anonymous) @ vuex.esm.js:6
(anonymous) @ chunk-vendors.40ebf1dc.js?__WB_REVISION__=d722a4f8e8d95772d82f:18
i @ chunk-vendors.40ebf1dc.js?__WB_REVISION__=d722a4f8e8d95772d82f:18
connect @ vuex.e

[2020-07-30 14:46] nioc commented on #13
Hi,

1. Websocket failed because of your certificate (self signed probably), depending on your browser, you may accept invalid certs.

2. As websocket failed, you should see in network console some xhr requests to your BOSH endpoint `https://chatserver.domain.com/http-bind`.
One should contains the following query `<query xmlns="jabber:iq:roster" />`
[code]
The response is your roster (XMPP contac

[2020-08-29 21:06] nioc commented on #13
As there was no response since one month, I consider this is not a problem...

[2020-08-29 21:06] #13 closed

[2020-09-10 21:51] thundergreen opened #15 "[UX] Store credentials checkbox label is not clear"
I am using your awesome easy and small web app for my home automation system which I am running at home. This easy web interface allows me to send messages to my dasboard as well as pictures but i have to relogin each time i open this dashboard / page. Is there a way to make the login persisten.. maybe opt in or hardcoded?

Looks like this on my dashboard:

![image](https://user-images.githubuserc

[2020-09-10 22:15] thundergreen opened #16 "[BUG] httpupload not working"
I setup this app with a small docker apache server so far so good but httpupload is not working properly I use bosh and wss configured. any ideawhere to start?

[2020-09-10 23:55] nioc commented on #15
Hello, this is the exact purpose of checkbox in login page 😉

![SmartSelect_20200911-014937_Firefox](https://user-images.githubusercontent.com/5225411/92826746-5780e180-f3d1-11ea-8be3-1e1900ce9e00.jpg)

If checked, it does not auto login to your xmpp server?

[2020-09-10 23:58] nioc commented on #16
I have to remember, where to check logs but first, the browser console log / network response should explain why upload failed.
Can you have a lookat it?

[2020-09-11 00:06] poVoq commented on #15
I think the confusing part is that it says "do not store my password" before the checkbox ;)

[2020-09-11 09:23] nioc commented on #15
You're right... I thought a dynamic checkbox label was a good idea but it seems I was wrong 😆
Maybe using a [switch](https://wikiki.github.io/form/switch/) should be more understandable?

[2020-09-11 10:31] nioc commented on #16
I check my own server, XMPP server (Prosody) is configured to allow [HTTP upload](https://modules.prosody.im/mod_http_upload) and it is directly Prosody url/port which are used by browser when I upload file.

For example with following configuration:
- Prosody URL = `domain-xmpp.ltd`
- Prosody HTTPS port = `5281`
- upload slot provided by Prosody = `abcdefgh`

My browser send these requests:
[code

[2020-09-11 12:28] poVoq commented on #15
Why not just have a static text with a checkbox? That is really the standard everywhere and easily understood.

[2020-09-11 13:53] nioc commented on #15
Yep. Agreed for this proposition (return to basic) 👌
@thundergreen can you confirm that with box checked, login is well done?

[2020-09-11 22:05] thundergreen commented on #16
I'll investigate I guess I have to proxy everything via https .I'll let u know once I figured it out and collected some logs .thanks so far

[2020-09-11 22:09] thundergreen commented on #15
Indeed the checkbox seems weird bit works perfectly.tha ks for the hint

[2020-10-20 07:19] #16 closed

[2021-02-11 23:32] #15 closed

[2021-02-13 14:49] poVoq opened #19 "Anonymous login?"
Is it possible to configure this to allow a very simple public webinterface for some MUCs that will just ask for a nick and handle temporary accounts through the XMPP server's anonymous login mechanism?

A bit like what happens here with the conversejs instance linked: https://logs.xmpp.org/operators/

Also, can MUCs be deep-linked via a URL? So that several different MUCs could be made available

[2021-02-13 17:08] nioc commented on #19
Hello @poVoq allowing anyone to join public anonymous MUC without login previously seems to be a little difficult in the actual model (since login is required to access other GUI components).
I'm not against a dedicated component if someone propose a pull request 😃

For the second part, it is already possible to access a MUC, let's say you have a room named `conference.domain.ltd`, you can access

[2021-02-13 17:45] poVoq commented on #19
It is actually a login mode supported by XMPP servers. It creates a temporary account in the background, see for example: https://prosody.im/doc/anonymous_logins (but ejabberd can also do it).

[2021-02-14 01:06] nioc commented on #19
I'm not sure to fully understand the call-flow explained in prosody doc, but here is what I think:
- If anonymous authentication is allowed on XMPP server, user may log without login, nickname, password (jid is provided by server).
- Call-flow is a bit tricky (see the 9 steps described [here](https://xmpp.org/extensions/xep-0175.html#flow)).
- I'm not sure that/ (or how) [StanzaJS](https://github.

[2021-02-14 01:14] poVoq commented on #19
Hmm, that is a pity because a lightweight web-chat with minimal onboarding barriers might be a really cool use-case for this.

I did find a test for StanzaJS that seems to do login via an anonymous method, might be something else though:
https://github.com/legastero/stanza/blob/d44cda0e79877c49ff26810c6cb35742b1624c33/test/sasl/anonymous.ts

[2021-02-14 01:30] nioc commented on #19
Yes, i saw and also mentioned in code [here](https://github.com/legastero/stanza/blob/19dc6ba24dbbefb16cabeb50d3ad6535573701b7/src/Client.ts#L66).
But how to use it... I've not found in library [doc](https://github.com/legastero/stanza/blob/master/docs/Reference.md).

App code use theses 2 functions [XMPP.createClient](https://github.com/nioc/xmpp-web/blob/5512b05e7e0de85d4c82d55d8ca8c51f55066243/

[2021-02-14 13:58] Neustradamus commented on #19
To follow this ticket.

[2021-02-14 18:47] nioc commented on #19
Sunday evening update:

I found how to connect to anonymously using Stanza, it was simple but not documented 😞, just add `server` attribute and remove jid and password:
[code]
I'll look how to update existing logic (`services/XmppSocket.js`) to reusing it.

Next step will be designing a new "Guest" vue component, here it is a first proposal:
- user access to guest page (with dedicated url, that sh

[2021-02-14 19:11] poVoq commented on #19
Thanks a lot for working on this!

Maybe some simplified view that disables some features that make little sense for anonymous users could also be configurable? Things like "contacts" and the top left account part.

[2021-02-14 19:15] nioc commented on #19
Yep, only chat view will be displayed after joining room.
I think this is a interesting feature but I do not want to break the entire application design 😆

[2021-02-14 19:30] Neustradamus commented on #19
@nioc: Thanks, maybe you can see to add more informations in Stanza documentation :)

[2021-02-15 00:23] #19 closed

[2021-02-15 00:40] Neustradamus commented on #19
@nioc: Good job, thanks!
Have you planned to see for Stanza doc?

One guy can test it?

[2021-02-15 00:41] nioc commented on #19
Hi, work done.
[Here](https://github.com/nioc/xmpp-web/releases/tag/0.6.0) is a 0.6.0 release beta including guest access.
You obviously need an anonymous host on your Prosody and to complete it in `local.js` as `anonymousHost` attribute.

[2021-02-15 00:49] nioc commented on #19
@Neustradamus Stanza provide XML abstraction (and it is a huge work) for this app but I do not contribute on it. As author has closed issues, I suppose he is not widely open to contributions... and I do not have time to update third party library documentation 😉

[2021-02-15 01:02] nioc commented on #19
Some screenshots in reduced screen size (screenshot is the full app).

Nickname:
![XMPP web-guest-1](https://user-images.githubusercontent.com/5225411/107894909-8e839200-6f31-11eb-9124-956940156c9c.png)

Rooms list:
![XMPP web-guest-2](https://user-images.githubusercontent.com/5225411/107894925-9a6f5400-6f31-11eb-9294-780e2dba05c7.png)

Chat:
![XMPP web-guest-3](https://user-images.githubuserconte

[2021-02-15 02:01] Neustradamus commented on #19
@nioc: Please talk with @legastero here.
But yes, he has removed "Issues" section from repository because I have done several issues.

[2021-02-16 01:48] nioc commented on #6
I close this since I will not handle it.

[2021-02-16 01:48] #6 closed

[2021-03-05 21:19] poVoq opened #20 "Display nicks in MUCs?"
We are testing this cool client right now for anonymous chat on joinjabber.org but I noticed that the nicks in group-chats are not visible.

So you either have to guess by the avatar or hover with the mouse over the avatar to see who actually wrote the message. Especially with a lot of anonymous users (and thus no avatar) this is quite confusing and makes the group-chat not really useable.

Did we

[2021-03-06 09:54] southerntofu opened #21 "xmpp-web assumes it runs in the webroot"
Sidenote: Hello, we're currently trying out xmpp-web for MUC anonymous login for the [joinjabber collective](https://joinjabber.org/). I would like to say a few words to thank you for making it, and let you know i'm going to open a few more issues with specific points about xmpp-web which defied my expectations and/or could be improved. Please don't take it as harsh criticism as i'm already very s

[2021-03-06 09:59] southerntofu opened #22 "Connection does not fallback to BOSH when websocket fails"
Enabling both websocket and BOSH in local.js i can't connect to MUC with Tor Browser. Not sure if that's because of my browser config or server misconfiguration, but in any case i expect the connection to fallback to BOSH, which it does not.

Disabling websocket in local.js allows me to connect via BOSH successfully. I haven't tried if changing the order of settings changes something.

[2021-03-06 10:01] southerntofu opened #23 "Configurable homepage route"
Currently, homepage route is for non-anonymous login. I would like to use /guest/ route as default for index.html.

[2021-03-06 10:04] southerntofu opened #24 "Disable some routes/features"
I would like to prevent non-anonymous login.

Use-case: joinjabber.org does not provide user accounts, merely collective services (including a MUC server). We do not want our users to trust us with a program that could be used to exfiltrate their credentials, so we'd like to support only anonymous login and disable normal login entirely.

[2021-03-06 10:07] southerntofu opened #25 "APP_DEFAULT_MUC is not used when server doesn't advertise MUC in disco"
When i misconfigured my XMPP vhost server-side, no MUC was advertised in XMPP disco, so xmpp-web didn't find a MUC, despite APP_DEFAULT_MUC being set to the correct value.

The error was on my side, and this "bug" enabled me to find out about it. However, i think it's counter intuitive that APP_DEFAULT_MUC is not used when no MUC server was advertised.

[2021-03-06 12:02] nioc commented on #21
Hello @southerntofu thanks for feedbacks.

I'll look at your issues later, it seems some should be fixed quickly with nginx conf.

What is your setup (nginx/apache local, docker image,…)? Do you use another proxy like HAProxy for https?

[2021-03-06 12:18] nioc commented on #20
Hello, I can add nick below the message aside the date. Does this resolve your issue?

[2021-03-06 14:14] poVoq commented on #20
Yes, that should be sufficient. Thanks!

[2021-03-06 16:52] southerntofu commented on #21
Please take all the time you need and don't let yourself be stressed by us :)

Currently serving with nginx xmpp-web from release tarball, with a `try_files $uri /index.html =404;` rule for SPA routes. I'm no longer running in a subfolder, as i realized (late) that xmpp-web is a single-page application that hijacks the navigation URL somehow.

I'm skeptical, but very curious :+1:

[2021-03-06 18:13] nioc commented on #21
I forgot to commit  following line in `vue.config.js` allowing to acces from a subfolder:
[code]
I use this trick to serve multiple versions from nginx (for non regression tests) with following regex in Nginx conf:
[code]
In html Nginx folder, I have a subfolder for each version.

Then, access to `http://localhost/0.7.0/` will get the correct content (at `/usr/share/nginx/html/0.7.0/index.html`).

[2021-03-06 18:16] nioc commented on #22
I have seen this problem too using a corporate VPN.
In earliest versions it was working, so I suppose I may have broke this 😞.
I have to investigate further.

[2021-03-06 18:26] nioc commented on #25
The `APP_DEFAULT_MUC` is the Docker environment variable linked to `defaultMuc` attribute in `local.js`. I suppose you set the attribute in local.js since you do not use docker image 😃.

Whatever, this information is only used to avoid to type the full jid when joining or creating a room but it is not enough for MUC usage (ie, if MUC is not advertised).

I can change the description to reflect thi

[2021-03-06 18:32] nioc commented on #23
This is a very specific usage 😆.

But may be I can set the routes according to a `local.js` variable to allow or not routes/components for:
- guests,
- registered users.

[2021-03-06 18:33] nioc commented on #24
See #23

[2021-03-06 18:33] #24 closed

[2021-03-06 18:48] southerntofu commented on #21
Cool! How does that work with index.html then? Is this configuration file used when building a release, to generate URLs in index.html? Otherwise i don't understand.  I had initially manually edited index.html to use relative links, but then i encountered the other problem you mentioned:

Personally i find it an anti-feature to hijack URL client-side (unexpected behavior during refresh is frustrat

[2021-03-06 18:55] southerntofu commented on #25
Correct :)

I noticed this is the current behavior. I'm wondering if this setting could also be used as a fallback when no MUC is advertised. Would this make anything more complex? Or do you think it's an entirely wrong approach?

If the setting keeps the same behavior, then maybe something like "Autocomplete join/create MUC addresses with this server. Does not configure the default MUC server on

[2021-03-06 18:59] southerntofu commented on #23
For the moment it is indeed. But a lot of people just want a chatroom for guests, for example for discussion around a free-software projects. Moderators already have a desktop/TUI client, but need a quick way for guest users to come and ask a question from their web browser, like many do on gitter/discord currently. Do you think it's a valid usecase?

In particular when there is no existing trust

[2021-03-06 19:12] nioc commented on #23
Agreed for the project/support use case and understanding the security argument behind your request.
May be, it will require to add some limitation/quota server side but it is another subject...

[2021-03-06 19:32] nioc commented on #21
As I looking for it, it seems that history mode is not compatible with `publicPath: './'` (which is used by Webpack to set href, src, path, url,... at build time): when refreshing, the entire app is broken.

So, unless I find a solution, I propose to use the default hash mode (URL will be `http://localhost/#/rooms/welcome@conference.localhost` instead of `http://localhost/rooms/welcome@conference.

[2021-03-06 22:46] #20 closed

[2021-03-06 22:46] #23 closed

[2021-03-06 23:01] nioc commented on #25
I prefer to "keep it simple" 😆 and let XMPP library handling the MUC discovery / feed the public rooms list.
Attribute is only used for completing room full jid with the `conference.domain.ltd`. Users can still type the full jid in the create/join input.
I have slightly rewritten the doc.
I propose to close this issue if you agree.

[2021-03-07 11:01] southerntofu commented on #23
Hello and thanks for the quick release of v0.8.0! Sorry to "reopen" this issue but it appears the default route has weird behavior:

- when accessing https://anon.joinjabber.org/ directly, i end up on JID login (which is disabled in config)
- reloading that page takes me to the expected guest login page

No idea why but maybe `http://localhost/#/rooms/welcome@conference.localhost` (URI fragments f

[2021-03-07 11:06] nioc commented on #23
May be a cache issue. When I open your url, I have the nick form for guest access.

[2021-03-07 11:16] southerntofu commented on #23
Thanks, that was it! Weird it happened despite explicitly asking for a no-cache refresh (ctrl + f5). Thanks again for the quick release, take care

[2021-03-07 11:36] poVoq opened #26 "Backlink to guest rooms view and in emoji picker"
Would be nice to have a back-link for the guest MUC view to allow people to go back to the rooms overview.

Also the emoji picker can only be quit by pressing the escape key or by selecting a emoji, but there is no way to quit it via the GUI.

Thanks!

[2021-03-07 15:18] nioc commented on #22
I have a lead, it seems the `disconnected` event do not always provide the error, as it is checked (`error.type !== 'close'`) the BOSH fallback is not executed.
I do not remember why I added this control 17 months ago, I will remove it and BOSH fallback will works again...

[2021-03-07 15:30] nioc commented on #22
Could you test this [0.8.1-alpha release](https://github.com/nioc/xmpp-web/files/6097392/xmpp-web-0.8.1-alpha.zip) and confirm BOSH fallback works as expected?

[2021-03-07 17:57] nioc commented on #26
Ok for button leading back to rooms list.

For the emoji, I'm sorry but the picker uses a [tabs Buefy component](https://buefy.org/documentation/tabs), and it is not easy to add a button before or after tabs lists and I prefer avoiding to much complexity (CSS tricks with absolute position is such a pain). User should press escape or select an emoji and remove it after, not a big deal.

[2021-03-07 21:54] nioc commented on #20
@poVoq In conjunction with nick display, I am adding an avatar colorization based on the jid, so it will be easier to identify who is writing (releasing in 0.8.1).

[2021-03-07 21:59] #22 closed

[2021-03-07 21:59] #26 closed

[2021-03-07 22:52] southerntofu commented on #22
Fallback works perfectly! :)

[2021-03-11 21:17] #25 closed

[2021-03-24 07:34] wiktor-k commented on #1
This is actually easier than it sounds like and Stanza even has a demo for Jingle calls: https://github.com/legastero/stanza/blob/master/examples/jingle-demo.html

(I did verify that it works)

[2021-03-24 21:29] nioc commented on #1
Thanks @wiktor-k I'll look at it.

[2021-04-01 09:10] wiktor-k commented on #1
@nioc I actually spent some time thinking and writing small PoC JS XMPP clients if you'd like to I can send you my "braindump" somewhere... if not... then it's okay too :)

[2021-04-01 10:53] nioc commented on #1
@wiktor-k Ok, with pleasure. May be you can publish it as a new Github repo?

[2021-06-09 23:21] poVoq opened #36 "MUC participant list with too many users breaks layout"
If I join for example the disroot@chat.disroot.org MUC get a really long line of user avatars and the entire browser window needs to be scrolled horizontally to reach the room settings etc.

[2021-06-10 07:04] nioc commented on #36
Hello @poVoq, can you post a screenshot?

[2021-06-10 10:18] poVoq commented on #36
![grafik](https://user-images.githubusercontent.com/940360/121508281-f3796100-c9d4-11eb-8d92-7be9f5c33097.png)

With the 100+ users in that room you can scroll horizontally really far before you reach the room settings.

[2021-06-13 15:38] #36 closed

[2021-06-13 16:05] nioc commented on #36
@poVoq fixed in 0.8.2.

[2021-07-14 13:12] licaon-kter commented on #21
Still seeing some resources with hardcoded paths that won't load when hosting in a subfolder.

Eg. https://github.com/nioc/xmpp-web/blob/cbe852cfe5f54cd7d40a7c64103417c8890d0f60/src/components/About.vue#L6

And in `manifest.json`

[2021-07-14 13:17] licaon-kter opened #37 "If `hasRegisteredAccess` is not set login widget is missing"
Acording to https://github.com/nioc/xmpp-web#configuration `hasRegisteredAccess` has default value of `true` so I'd expect it to be `true` if I omit it from **local.js**

Yet, if I omit it the screen stays dark and I can't login, there's no input box at all.

0.8.2 Firefox

[2021-07-14 18:58] nioc commented on #37
Hello, there is a `true` default value in `local.js` (also set in docker entrypoint)
If you remove it, there is no more default value ^^

[2021-07-14 18:58] #37 closed

[2021-07-14 19:00] nioc commented on #21
I'll look at it.

[2021-07-14 21:01] licaon-kter commented on #37
That's not what "default" means...

[2021-07-14 22:00] nioc commented on #37
Okay, but why you want to remove the _default_ value from `local.js`?

[2021-07-15 05:41] licaon-kter commented on #37
Not sure I follow, isn't `local.js` **my** config file?

[2021-07-21 17:08] #21 closed

[2021-07-21 20:11] nioc commented on #21
Thanks @licaon-kter.
I'll wait for another commit before publishing a new version. Let me know if you need it quickly.

[2021-07-21 20:56] licaon-kter commented on #21
No rush :)

[2021-08-06 05:04] bremensaki opened #38 "Theme switching - light option"
A light theme is necessary as dark-only has accessibility problems, especially for users with certain eyesight issues. A switch option for a brighter display needs to be prominent and available before login, or logging in itself might be very difficult for people.

Being able to set a different default server-side would be good too.

[2021-08-06 19:18] nioc commented on #38
Hello @bremensaki, accessibility and user experience are 2 different things.

You said "_a light theme is necessary_", I disagree with that. It is an UX choice (mine, I love dark themes 😆). If you want to argue or explain in details, feel free to reply/send a message.

I check accessibility ([color contrast as defined by WCAG guideline](https://developer.mozilla.org/en-US/docs/Web/Accessibility/Un

[2021-08-07 05:02] bremensaki commented on #38
There's a pretty good summary of the issues with dark themes here: https://levelup.gitconnected.com/why-dark-mode-causes-more-accessibility-issues-than-it-solves-d2f8359bb46a

Predominantly dark pages cause issues for many people with forms of astigmatism, myself included, which increases eyestrain massively. It's not a style choice, it's literally painful.

Some sort of switching is the only way

[2021-08-07 10:20] nioc commented on #38
Hello, ok you convinced me. I'm myopic and astigmatic but I get glasses 🤓...

If you have time, it would be great if you can propose a PR for this.

I have already implemented a light/dark mode switch on another project, you can check the commit https://github.com/nioc/vue-dom/commit/ef6a1ab4a8537ae1fead736a61b16c6906e93c2a:
- adapt the CSS [styles.scss#L40-L319](https://github.com/nioc/vue-dom/bl

[2021-08-07 11:28] bremensaki commented on #38
Sure, I'll see if I get time in the next few days to take a stab. Never done anything with Vue but the reference code looks pretty straightforward, thanks for that.

[2021-08-07 14:07] nioc commented on #38
If you want I can do the Vue part (the easy part for me), but the SCSS is a lot of work and I do not have time to handle it for now...

[2021-08-08 03:00] bremensaki commented on #38
I'll see how I go with the theme changes first, since that's probably the most sensible first step. If you take any steps along the path of adding a switcher ping me.

[2021-08-08 12:06] nioc commented on #38
I'll take a look to the button tonight (in the next 8 hours…).
As it should be added to multiple places (login, guest home, chat), it must be a dedicated component with its own logic (including local storage update).

[2021-08-08 17:57] nioc commented on #38
I created a [dedicated branch](https://github.com/nioc/xmpp-web/tree/light-mode) for this feature until CSS is done.

Switch is done which add a `data-theme="light"` to the DOM, save and read to local storage. You have to add the following to SCSS file (at least after line 69):
[code]

Here are the screenshots:
- login:
![image](https://user-images.githubusercontent.com/5225411/128640796-d80c82b8-

[2021-08-10 11:47] bremensaki commented on #38
OK I get how it all works now, and I've identified most of the key areas I think. Just need to chip away at all the various elements in all the views now and juggle things around until it looks pleasant enough.

I'll use the defined primary as a prominent accent colour, but other than that I'll keep to some simple standards for the first pass, rather than start adding in new definitions all over t

[2021-12-13 18:03] zsinba commented on #1
how about this work?   ??

[2022-02-12 12:27] freize opened #42 "JID does not change with anonymous access"
Hello. Help me please. Maybe I'm doing something wrong, I did not find a guide on this issue.
If several people enter at the same time through an anonymous login, then the one who entered later throws out the one who entered earlier from the conference. JID remains the same. Can this be fixed somehow?

[2022-02-13 17:11] nioc commented on #42
Hello @freize it is an XMPP settings, I just tested the 2 following scenarios with Prosody 0.11.7 as XMPP server:

- 2 different nicknames:
    1. Anonymous user enter to room with shared link (http://localhost/#/guest?join=welcome%40conference.localhost) with name `bob`
    2. Another anonymous user enter to room with shared link (http://localhost/#/guest?join=welcome%40conference.localhost) with

[2022-02-13 17:11] #42 closed

[2022-02-20 18:32] nioc opened #45 "Update stack"
Move to vue 3 and official router & store.
Replace webpack with Vite.

[2022-03-15 01:50] nioc commented on #45
If anyone knows how to package **stanza** lib with rollup, I would be so happy… it is the last piece for releasing a fresh stack (working with vite `npm run dev` rendering)

[2022-03-30 15:05] binarydad opened #47 "Is this project still active?"
Wondering if so, or if there are active forks. This is certainty the most polished XMPP UI I've seen, though it has some quirks I'm noticing.

[2022-03-30 16:37] nioc commented on #47
Hello @binarydad yes it is. There is two active items on development:

- #45 Technical update to Vue 3 (I have an issue bundling stanza dependency), this is the highest priority,
- #38 "Light theme" feature request, for which I am waiting CSS part...

If you have any feedback / suggestion, please do not hesitate to come forward 😄

[2022-03-30 16:44] binarydad commented on #47
Awesome! I'm really digging this app, and have been looking for a good XMPP web client for a while (and I really don't like converse.js).

Some suggestions (LMK if you're prefer a separate issue). Keep in mind I'm not an XMPP expert, so apologies if I use the wrong terminology:

1. Show the contact's actual name instead of email identifier. Currently, my contacts on the left show up as **name@xmpp

[2022-03-30 19:51] nioc commented on #47
1. I have to check what is sent by XMPP server, if nickname is sent, it should be possible to add a setting to use it instead of full Jid (JabberIdentifier). I think it is better to have the full, as you can have several contact with same name on different servers.
2. to be checked but seems possible to process an automatic `searchHistory` when opening for the first time a conversation with a cont

[2022-04-02 17:46] nioc commented on #45
So after 20 days of unsuccessful tries, I choose to replace `Stanza` with `@xmpp/client`. It is a huge work to adapt code and it will take time, but you can track progress (I'll update this comment during development):

- [x] connect (authenticate)
- [x] disconnect
- [x] getRoster
- [x] sendPresence
- [x] sendMessage
- [x] onChat
- [ ] onGroupchat
- [ ] onPresence
- [ ] onMuc:join
- [ ] onMessage:

[2022-05-10 18:53] ThatOneCalculator opened #51 "Capacitor for mobile apps"
If [Capacitor](https://capacitorjs.com/solution/vue) could eventually be integrated for cross-platform mobile apps, that would be awesome

[2022-05-22 12:06] nioc commented on #51
Hello I do not understand what is the bonus for this web chat app using capacitor.
There are better natives applications like [Conversations](https://github.com/inputmice/Conversations) for Android for example.

[2022-05-22 17:24] ThatOneCalculator commented on #51
The problem is there's nothing good that's cross-platform (iOS is severely lacking in XMPP clients) and this is one of the few good clients that support stickers

[2022-05-23 06:37] nioc commented on #51
Thanks 😉
I let the request open, may be after I update the stack, if it does not add too much assets…

[2022-05-29 03:02] #45 closed

[2022-05-29 03:24] #47 closed

[2022-05-29 03:25] nioc commented on #38
Close for inactivity

[2022-05-29 03:25] #38 closed

[2022-05-29 03:30] nioc commented on #45
Hooray, finally update achieved! :beers:

[2022-05-29 03:36] binarydad commented on #45
Awesome! Can't wait for the docker image!

[2022-05-29 03:39] nioc commented on #45
I have to run some tests before releasing, but it should be tomorrow (it is 05:38 am for me, time to sleep 😴)

[2022-05-29 22:07] ThatOneCalculator commented on #1
With the switch to xmpp.js, WebRTC integration should be made even simpler, yea?

[2022-05-29 22:12] ThatOneCalculator opened #52 "Doesn't work with yarn OOTB"
Steps:

1. Download
2. `yarn install`
3. `yarn run dev`

Error:

[code]

[2022-05-29 22:15] ThatOneCalculator commented on #5
OMEMO support can be implemented pretty easily now because the project switched to XMPP.js: https://github.com/telldus/xmppjs-client-plugins

[2022-05-29 22:26] ThatOneCalculator commented on #1
:eyes: https://github.com/otalk/jingle.js

[2022-05-29 23:16] binarydad opened #53 "Cannot log in when running docker version 9.0"
I'm using the same docker script as the previous version. Let me know how I can help with troubleshooting. Thanks!!

[code]

![image](https://user-images.githubusercontent.com/1760607/170895141-6bbc0c62-fa3e-4abf-a36e-106991fd2c15.png)

[2022-05-29 23:44] nioc commented on #53
Hello @binarydad, xmpp client used (xmpp.js) is different from stanza.io and does not require to use the domain part (and if you provide it, it does not meet xmpp server authentication mechanism). I forgot to mention this point in the release note...
If your xmpp domain is `xmpp.mydomain.com`, do not login with `ryan@xmpp.mydomain.com` but just `ryan`.
Try it and let me know.

[2022-05-29 23:49] nioc commented on #52
Hi.

I do not know yarn, I use npm.

This works fine on my workstation (ubuntu, node 16):
[code]

May be I forgot to purge node_modules and it works for me because I got a missing dependency, can you try with npm?

[2022-05-30 00:03] nioc commented on #53
Can you add console errors/warns/logs and/or network websocket responses for a more accurate analysis? 😉

Also, you can remove these environment variables which are [not used anymore](https://github.com/nioc/xmpp-web/commit/0458da73cbd9cc0afa1548f75f14a7d29d9e6907#diff-b335630551682c19a781afebcf4d07bf978fb1f8ac04c6bf87428ed5106870f5) (since BOSH is not supported by xmpp.js):
- `APP_HTTP`
- `XMPP_H

[2022-05-30 00:17] ThatOneCalculator commented on #52
Works fine with NPM.

[2022-05-30 00:20] nioc commented on #52
Some leads (from the internet 😆):
- `npm install` uses the `package-lock.json` which is provided in the repo, instead of yarn which seems to use `yarn.lock`,
- Yarn installs packages in parallel versus npm will perform a serial installation process.

In the [bulma oruga doc](https://github.com/oruga-ui/theme-bulma#customization-sassscss), the writing is slightly different from mine:
[code]
As a wo

[2022-05-30 00:20] ThatOneCalculator commented on #53
I can't login to my remote server, seems `chat.domain-web.ltd` is hardcoded?

Running with `npm run dev`

![image](https://user-images.githubusercontent.com/44733677/170897499-65efc343-8ff7-44db-9e03-a2ec9720ea31.png)
![image](https://user-images.githubusercontent.com/44733677/170897560-fbca4669-c23c-47f1-91b4-9ab6570714ff.png)

[2022-05-30 00:20] nioc commented on #52
Oh great if it works 😃

[2022-05-30 00:26] nioc commented on #53
@ThatOneCalculator Yes it is hard-coded but in the [`local.js` file](https://github.com/nioc/xmpp-web/blob/master/public/local.js#L5).

In docker usage, is it overridden by `APP_WS` environment variable.
In archive installation, admin must set it owns values in the file as described in [README.MD](https://github.com/nioc/xmpp-web#installation).

[2022-05-30 00:27] #52 closed

[2022-05-30 00:27] ThatOneCalculator commented on #53
Ah got it, thanks :)

[2022-05-30 00:37] nioc commented on #51
I'm not sure which device API should be relevant?
Installed as a PWA is not enough?

[2022-05-30 00:38] ThatOneCalculator commented on #51
It'd mostly be the notification API (possibly the Camera API for photos and the location API for location sharing), PWA notifications are very unreliable, especially on iOS.

[2022-05-30 00:45] nioc commented on #51
Ok, I do not know iOS :grimacing:

On Android, setup a true notifications system is a pain in the a** with firebase... also often it drains battery very quickly.
Photo capture/posting and video webRTC seems to be good ideas.

[2022-05-30 00:46] ThatOneCalculator commented on #51
Oh yea, forgot about that ^^"

Possibly for Android, there could be a foreground service instead?

[2022-05-30 00:51] nioc commented on #51
For the android notifications, I am pretty sure that Conversations app (which is the one I use on my Android) always be better than my app.
The first goal of this app was to cover my desktop usage (I did not found a good XMPP client on Windows/Linux), I have tried some lib like [Tauri](https://tauri.studio/) to make a real desktop app but... finally, PWA in chromium was enough for me 😄

[2022-05-30 00:53] ThatOneCalculator commented on #51
On my Android phone, I use blabber.im (a Conversations fork) which def does work great.

Obviously Capacitor isn't a super high priority, but it would definitely be nice to have as a cross-platform solution :)

[2022-05-30 01:41] binarydad commented on #53
I tried that, but am still getting errors. What else can I provide? I shortened the docker args to this:

[code]

Also, does it matter that I'm using a reverse proxy to get to the container?

![image](https://user-images.githubusercontent.com/1760607/170898719-dd10466b-3813-4fe5-a89e-f48530923d3c.png)

![image](https://user-images.githubusercontent.com/1760607/170898771-23811b35-d7fb-4c56-b0a6-52a

[2022-05-30 02:47] virtadpt commented on #51
It would be nice because my work laptop is locked down (I can't install an XMPP client of any kind) and a reliable web client would be great.

[2022-05-30 03:02] ThatOneCalculator commented on #51
@virtadpt not sure if you get what Capacitor is for, it's for building native mobile apps for iOS and Android, nothing to do with desktop usage ^^"

[2022-05-30 03:05] virtadpt commented on #51
You're right, I didn't.  Sorry about that.

[2022-05-30 10:11] nioc commented on #53
@binarydad what is the result when you login with just `ryan`?

First screenshot show that websocket is called and responds but your XMPP server replies that is a host it handles (as it is shown also in console error).

The first sent message should be something like this:
<open xmlns="urn:ietf:params:xml:ns:xmpp-framing" xml:lang="en" **_to="xmpp.mydomain.com"_** version="1.0"/>

But in your case

[2022-05-30 10:43] #53 closed

[2022-05-30 10:48] nioc commented on #53
Ok I missed to instantiate domain, pull the 0.9.1 and it should be ok.

If you enter a full jid like this `user@xmpp.mydomain.com`, it will use `xmpp.mydomain.com` as XMPP domain.
If you enter a local jid like this `user`, it will use `defaultDomain` value from local.js (overriden by `APP_DEFAULT_DOMAIN` environment variable) as XMPP domain.

[2022-05-30 11:44] binarydad commented on #53
That was it! I'm logged in. Thank you!

I see a couple other minor things, but I'll add tickets for those.

I really love this UI. Much better than others I've seen.

[2022-05-30 11:46] binarydad opened #54 "Hitting "Enter" in message box should send, not add new line"
I noticed this with the older version as well. When typing and then hitting "Enter", it adds a new line instead of sending. Not sure if this is a bug or intentional, but I feel this should send the message. Thanks!

[2022-05-30 11:47] binarydad opened #55 "Show logged-in user name instead of JID on top right"
On the top right corner, may we show the name instead of the JID, or some combination of the two?

![image](https://user-images.githubusercontent.com/1760607/170986005-689a8f02-c016-48d3-b575-08369ce14915.png)

[2022-05-30 11:59] nioc commented on #54
To send message, you can use `Control`+`Enter`. I think it is much easier to format paragraphs with `Enter` key.

[2022-05-30 18:14] #55 closed

[2022-05-30 22:57] binarydad commented on #54
I think a setting is fine. Of the messengers I've used, simply hitting Enter sends the message, and I'm used to using Shift + Enter to make paragraphs.

[2022-05-30 23:00] binarydad opened #56 "Update login username placeholder to only request "user" instead of "email""
As mentioned in https://github.com/nioc/xmpp-web/issues/53, the full user@domain is no longer required, so it seems fitting that the field placeholder also matches.

![image](https://user-images.githubusercontent.com/1760607/171066295-1b46170e-615f-44db-a743-f7aa1de8d532.png)

[2022-05-31 07:12] nioc commented on #56
As mentioned in my [last comment](https://github.com/nioc/xmpp-web/issues/53#issuecomment-1141003864), user can either login with just local jid (using default domain) or full jid.
Some users [requested a feature](https://github.com/nioc/xmpp-web/issues/7#issuecomment-573342520) for setting custom websocket transport url.
I think it is easier to understand if placeholder mention xmpp domain.

What

[2022-06-01 00:29] #56 closed

[2022-06-01 00:29] #54 closed

[2022-06-01 00:48] nioc commented on #54
@binarydad with 0.9.2, you can add this env to your docker command:

[code]

[2022-06-01 00:57] nioc opened #57 "Send chat states XEP-0085"
**Is your feature request related to a problem? Please describe.**
Contacts does not know when I'm typing or not.

**Describe the solution you'd like**
Implement [XEP-0085](https://xmpp.org/extensions/xep-0085.html) by sending chat states when typing, pausing and inactive.

[2022-06-01 11:48] vladosam opened #58 "Can not upload file when server use a component (domain do not advertise feature)"
**Describe the bug**
I can't send files because there is no paperclip icon. If i use gajim I can send files to my ejabberd server.
This is my docker-compose.yaml
[code]
**Expected behavior**
To see paperclip icon

**Screenshots**
![Screenshot from 2022-06-01 13-36-25](https://user-images.githubusercontent.com/8487479/171395753-38738a5f-2177-4fcd-b8a7-356a6a6420b0.png)

**Application (please comple

[2022-06-01 20:30] nioc commented on #58
Hello @vladosam can you check your XMPP server has file transfer (as described in [XEP-0363](https://xmpp.org/extensions/xep-0363.html)) activated? Check in the network tab if your websocket respond a message containing `urn:xmpp:http:upload:0` like this:
[code]

It should be a response from this kind of query (`iq` on server with `http://jabber.org/protocol/disco#info` namespace, with same `id` i

[2022-06-01 20:38] nioc commented on #58
I do not know about eJabberd (as I use Prosody), but [this](https://uwot.eu/blog/ejabberd-http-file-upload-xep-0363/) could helps.

[2022-06-01 20:57] binarydad commented on #58
I didn't check try the approach you mentioned (I can check later), but this screenshot for my same Ejabberd server shows the HTTP upload capability. My Gajim client also allows HTTP upload attachments as well.

![Screenshot_20220601-163300_blabberim](https://user-images.githubusercontent.com/1760607/171499979-922db046-f89d-4490-b51b-2fb0179b1e5f.jpg)

[2022-06-01 21:14] vladosam commented on #58
@nioc  My xmpp server accept file uploads if i use conversations or gaijm. I'll check server response for xmpp-web tomorrow.

[2022-06-02 02:11] binarydad commented on #58
Here's the info from mine, though here's something odd. This browser cached the old 0.8.2 files and noticed that it DOES show the paperclip. Screenshot below, and I highlighted the response with the feature info (full XML below).

**0.8.2 version with paperclip**
![image](https://user-images.githubusercontent.com/1760607/171531442-dbfd93bd-edc3-4ddb-adf3-e2862dc45aca.png)

Here's the response for

[2022-06-02 09:39] vladosam commented on #58
@binarydad I can't get response in developer tools.
I select network tab, check just ws and put this script to run
[code]
then i get I get Uncaught SyntaxError: expected expression, got '<' error.

any idea what am i doing wrong or everything is wrong with this? :)

[2022-06-02 11:12] nioc commented on #58
@binarydad yes it should be very helpful, thanks.
For now, I think you use a different hostname for upload service (`upload.xmpp.domain.com`), which is not handled by app (iq request made on main hostname).
If I can confirm this by testing, I should be able to use the right hostname for making the discoItems request.

[2022-06-02 11:19] binarydad commented on #58
What is a chat handle (xmpp, matrix) or email I can send login info for me
server to? Thanks.

On June 2, 2022 7:12:56 AM Nicolas ***@***.***> wrote:

[2022-06-03 06:11] vladosam commented on #58
@nioc i'm not getting any response when I filter messages with `upload` but if i filter with `info` i get this:
[code]

[code]
It looks like binarydad log.

[2022-06-03 06:27] nioc commented on #58
I'll look at it this weekend.
Thansk for logs.

[2022-06-04 16:31] nioc commented on #58
@binarydad I sent you a DM on Twitter for credentials

[2022-06-04 18:03] nioc commented on #58
I added the discovery on server components if main domain do not advertise upload service or max file size.
As I can not test with my XMPP server, let me know if file upload is it still not working with 0.9.3 pre-release.

[2022-06-05 20:15] nioc commented on #58
@binarydad @vladosam does it work for you?

[2022-06-06 01:00] binarydad commented on #58
Sorry. Busy weekend. I'll set up a XMPP account for you and will test out
the new beta. Thank you for all the work on this!

On June 5, 2022 4:15:29 PM Nicolas ***@***.***> wrote:

[2022-06-06 05:10] vladosam commented on #58
@nioc i pulled 0.9.3 version and now I see paperclip icon. Progress. But now I can't send file that is attached. This error shows in dev tools
[code]

[2022-06-06 10:00] nioc commented on #58
@vladosam I presume upload is made on the main domain which is refused.
The process is the following:

- reserve a slot (`iq` sent with a request item using `urn:xmpp:http:upload:0`) which returns urls,
- submit file with a http put request on returned url,
- send stanza message.

Can you see a http Put request in network tab? I think it crash before (on the first step), can you confirm this by se

[2022-06-06 10:55] vladosam commented on #58
These are my logs as soon as i press button to send file.
[code]
[code]

[2022-06-06 11:06] nioc commented on #58
Thanks @vladosam. Can you confirm also that a previous message (the one that contains the `file-max-size` and the upload feature) is on a different hostname (like `upload.myxmpp.com`)?

[2022-06-06 11:18] vladosam commented on #58
It seems so
[code]

[2022-06-06 14:16] #58 closed

[2022-06-06 14:28] nioc commented on #58
@vladosam @binarydad 0.9.3 is released (again).
Because I reuse same version (pre-release), you have to **force the docker pull** (may be remove it before).
Let me know if it is working now.

[2022-06-06 15:28] vladosam commented on #58
Yes. Now everything works. Thanks. Now i will open feature request for notifications. :D Thanks.

[2022-06-06 16:39] vladosam opened #59 "Message notifications"
It would be great if we could get notifications when xmpp-web page is not active or browser is minimised.

[2022-06-06 16:46] nioc commented on #59
I agree.
You mean something like this: https://developer.mozilla.org/en-US/docs/Web/API/notification?

[2022-06-06 17:55] vladosam commented on #59
Yes, some pop-up notifications for missed messages with missed message counter on tab. Maybe with sound?

[2022-06-06 18:32] nioc commented on #59
That sounds good: https://developer.mozilla.org/en-US/docs/Web/API/Page_Visibility_API

OK for counter on title.

[2022-06-06 22:43] nioc commented on #59
It is existing in VueUse:
- [useDocumentVisibility](https://vueuse.org/core/useDocumentVisibility/)
- [usewebnotification](https://vueuse.org/core/usewebnotification/)

[2022-06-07 06:03] vladosam opened #60 "Install from archive"
Unable to install xmpp-web from source.
I get blank screen with just XMPP web on tab name. In dev tools i see uncaught error
[code]
This is local.js
[code]
and this is apache conf
[code]
I'm trying to use my wildcard ssl cert. Can I use my ssl cert with xmpp-web docker?

[2022-06-07 07:47] nioc commented on #60
Thanks for this detailled report.
If you have a blank screen before login, it is not an xmpp issue.
I'll test your apache configuration tonight.

Using docker, I suggest to use a network front component (haproxy is very good at it) for handling ssl, cache, load balancing.
Otherwise, you can use your cert with this image by passing it as mount (you also need to bind the [nginx](https://github.com/n

[2022-06-07 09:56] vladosam commented on #60
You where right. I don't know why i commented out those two lines. I probably wanted to comment out hasGuestAccess but I
accidentally commented out hasRegisteredAccess also. Everything works now. Thanks. Closing this.

[2022-06-07 09:56] #60 closed

[2022-07-12 15:58] asterismo opened #61 "Instructions for compiling and running"
Hi, i installed the client but there is no instructions on how to compile it. I tried myself but i cannot get the client running. Can you help me compile it? Thanks.

[2022-07-13 17:00] asterismo commented on #61
I used "from archive" and i uncompressed files in a web folder. I think i did yarn install, npm run build... something like that

[2022-07-13 19:02] nioc commented on #61
Archive contains the build result (statics files html, js and css) to be served with a web server like Apache or Nginx.

If you want to develop, you need to `git clone` and then:
[code]

[2022-07-13 19:02] #61 closed

[2022-08-20 22:03] poVoq opened #63 "Shared roster groups"
ejabberd and prosody (via https://prosody.im/doc/modules/mod_groups) support configuring shared nested roster groups and it would be nice if the UI would support this by showing the roster categories as groups of contacts.

As xmpp-web doesn't do contact management by itself (for now?) I think this would be used often by linking these groups to LDAP for example.

[2022-08-24 08:37] poVoq opened #64 "Restrict public muc listing?"
Would it be possible to restrict the listing of public mucs to those of a certain muc service or virtual host?

Right now the xmpp-web users can also see the public mucs from a totally unrelated virtual host that happens to be on the same Prosody installation.

In addition it might be interesting to only show a curated list of public mucs in the overview.

[2022-09-24 21:12] poVoq opened #66 "http_upload button visible but not functional for anonymous users"
**Describe the bug**
When using the anonymous login feature one can click on the share file button and select a file, but the actual upload fails

**Expected behavior**
The button should be just hidden when no suitable http_upload component can be found.

In my specific case the http_upload component for regular users is under `uploads.example.com` while anonymous users use the `anon.example.com`

[2022-09-25 11:05] nioc commented on #66
Can you share an example of XMPP config file?

[2022-09-25 11:26] poVoq commented on #66
[code]

Not sure why that is relevant, I explained the setup above and it is the bog standard way of doing exactly that with Prosody.

[2022-09-25 16:34] nioc commented on #66
It is relevant to reproduce your issue. I have no problem with guest file upload with the following `prosody.cfg`:

[code]

If you want I spend some of my own free time on your situation, at least give me the information about your usage...
I do not want to try to guest what is your setup.

[2022-09-25 16:48] poVoq commented on #66
Ah, but that is a rather strange config with the http_upload not configured as a component. How does that even work?

And it also force adds the upload stuff to all virtual-hosts via the disco_items setting. I am also not sure if that even works with the new http_file_share module that replaced the old http_upload in Prosody 0.12.

[2022-09-25 16:57] nioc commented on #66
May be, I'm not an XMPP expert, I just use it for my own usage and propose the web GUI to others 😉
Using Prosody 0.11.9 and an old version of [mod_http_upload](https://hg.prosody.im/prosody-modules/file/75b6e5df65f9/mod_http_upload/mod_http_upload.lua) module.

As I said, I will not try to reproduce issue without a config file example.

[2022-09-25 18:21] nioc commented on #66
You can also propose a pull request for handling this.

[2022-11-24 06:54] sjehuda opened #67 "KaiOS Port"
Port XMPP Web to GerdaOS/KaiOS (FirefoxOS).

There's no Jabber app currently.
https://store.bananahackers.net/
https://www.kaiostech.com/store/

[2022-11-24 12:49] nioc commented on #67
Duplicate of #6

[2022-11-24 12:49] #67 closed

[2022-11-24 23:16] sjehuda commented on #6
There's a a project that bring XMPP to KaiOS at https://git.disroot.org/badrihippo/convo

[2022-11-25 12:16] sjehuda commented on #64
Perhaps consider splitting the list into pages (e.g. 10 MUCs per page)